<!DOCTYPE html>
<html lang="en">
  <%- include("./head.ejs"); %>
  <body>
    <%- include("./header.ejs"); %>
  </body>
  <div class="container">
    <div class="jobs">
      <% jobs.forEach(function(job) { %>
      <div class="job">
        <div class="information">
          <h4><%= job.companyName %></h4>
          <hr />
          <h3><%= job.position %></h3>
        </div>
        <div class="tags"></div>
        <div class="apply">
          <button>Apply</button>
        </div>
        <!-- <h3><%= job.jobDescription %></h3> -->
      </div>
      <% }); %>
    </div>
  </div>
</html>
